.sendForm {
    margin-top: 10px;
}

.textarea {
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background: #f5f7fb;
    border-radius: 20px;
    width: 976px;
    height: 40px;
    resize: none;
    overflow: hidden;
    height: 40px !important;
    padding: 12px 0 12px 24px
}


.button {
    border-radius: 20px;
    width: 120px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #282828;
    font-family: "Montserrat", sans-serif;

}

.button:hover {
    color: #fff;
    background-color: rgba(0, 102, 204, 1)
}

.button:active {

}
